
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
    </header>
    <h1>this is my first app usng express node and i do this myself with best concept</h1>
    <p>on the date of 2018</p>
    {{{body}}}
    <footer>
      <p>copyright @2018/p>
    </footer>
  </body>
</html>
